@{
}

@using AnimalRoster6.ViewModels;
@model AddAnimalViewModel;

<h1>Add An Animal To Your Roster! 🙂</h1>

<form method="post" class="form-group">
    <div asp-controller="Animals" asp-action="Add" class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div asp-controller="Animals" asp-action="Add" class="form-group">
        <label asp-for="Species"></label>
        <input asp-for="Species" type="text" class="form-control" />
        <span asp-validation-for="Species" class="text-danger"></span>
    </div>

    <div asp-controller="Animals" asp-action="Add" class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" type="text" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div asp-controller="Animals" asp-action="Add" class="form-group">
        <label asp-for="ImgUrl">Image URL</label>
        <input asp-for="ImgUrl" type="text" class="form-control" />
        <span asp-validation-for="ImgUrl" class="text-danger"></span>
    </div>







    <input type="submit" value="Add Animal" class="btn btn-primary" />
</form>