@{
    Layout = null;
}

<h1>Add An Animal To Your Roster! 🙂</h1>

<form method="post" class="form-group">
    <label for="name">Name</label>
    <input name="name" type="text" class="form-control" />

    <label for="species">Species</label>
    <input name="species" type="text" class="form-control" />

    <label for="description">Description</label>
    <input name="description" type="text" class="form-control" />

    <label for="imgUrl">Image URL</label>
    <input name="imgUrl" type="text" class="form-control" />

    <input type="submit" value="Add Animal" class="btn btn-primary" />
</form>